

$accent: #c6538c;
$background: #1C1D28;
$form: #D4D5DF;
$selected: #F8A934;
$scroll: #65292F;
$columns: #3E4053;
$secondary: #D6D3D3;
$font: white;


.mainNavbar {
    height: 100vh;
    width: 100%;
}
.pages{
    display: flex;
    flex-direction: column;
    border-right-style: solid;
    border-right-color: #B23537;
    border-width: 2px;
}

.navButtons{
    color: $font;
    margin: 2em;
    :hover{
        color: $selected;
    }
    :active{
        color: $selected;
    }
    border-style: none ;
    background-color: $background;
}

.mobileButtons{
    color: $font;
    margin: 0.5em;
    :hover{
        color: $selected;
    }
    :active{
        color: $selected;
    }
    border-style: none ;
    background-color: $background;
}

.mobileNavbar{
    border-bottom-style: solid;
    border-width: 2px;
}

.navHome{
    flex-direction: column;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    border-style: none;
    background-color: $background;
}

.mobileHome{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    border-style: none;
}

@media (max-width: 841px) {
    .mainNavbar{
        display: none;
    }
}


@media (min-width: 842px) {
    .mobileNavbar{
        display: none;
    }
}

body {
    background-color: $background;
    justify-content: center; 
    align-items: center; 
    margin: 0;
}

.central{
    background-color: $form;
    width: 100%;
    height: 70vh;
    margin-top: 12.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.widgets-main{
    height: 70vh;
    margin-left: 1em;
    margin-top: 12.5em;
}

.notifications{
    background-color: $columns;
    width: 90%;
    height: 30vh;
    margin: 1em;
    margin-top: 0;
    border-radius: 2em;
}
.reminders{
    background-color: $columns;
    width: 90%;
    height: 30vh;
    margin: 1em;
    margin-top: 3em;
    border-radius: 2em;
}

.Row {
    margin: 0;
}
